
body {
width: 1200px;
margin: 0 auto;
font-family: PT Sans, Arial, sans-serif;
}
.main_header{
  height: 56px;
}
.main_nav ul{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style: none;
}
.main_nav a{
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  font-weight:bold;
  text-transform: uppercase;

}
.main_nav li {
  width: 20%;
  padding: 14px 0 17px 0; /* опускаются ниже чем надо*/
  text-align: center;
}
.main_nav li:nth-child(2) {
  text-align: left;
  margin-right: 23px;
}
.main_nav li:nth-child(3) {
  text-align: right;
}
.logo{
  position: absolute;
  top:0;
  left:900px;
z-index: 1;
}
.intro{
  position: relative;

     height: 430px;
     padding-top: 77px;

     background-image: url(../img/background.jpg);
     background-position: 50% 21%;
     background-size: cover;
}
.intro::after{
  position: absolute;
     bottom: 0;

     display: block;

     width: 100%;
     height: 57px;

     content: '';

     background-image: url(../img/bottom_background.png);
     background-position: 50%;

}
.intro_text_welcome {
  width: 256px;
  height: 45px;
padding-bottom: 12px;
margin: 0 auto;
text-align: center;
}
.gorgeous{
  width: 256px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  background-image: url(../img/intro_gorgeous_titres.png);
  background-repeat: no-repeat;
  background-position-y: 25%;
}
}
.intro_text_sedona {
    width: 1200px;
     height: 74px;
    margin-left: 600px;
     padding: 58PX;
}
.intro_text_slogan {
  width: 296px;
     height: 80px;
     margin: 0 auto;
}
.text_slogan{
  margin-top:65px;
  font-size: 21px;
  font-family: "PT Sans";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.causes{
  padding-bottom: 55px;
    font-size: 14px;
    font-family: "PT Sans";
      text-transform: uppercase;
    text-align: center;
      color: rgb(51, 51, 51);
  }
.real_town{
width: 400px;
height: 256px;
background: rgb(129, 179, 210);
  font-size: 21px;
  font-family: "PT Sans";
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  color: rgb(255, 255, 255);
}
.img_sity {
  margin-top: 198px;

}
.real_town h2{
  padding-top: : 50px;
  font-size: 21px;
  font-family: "PT Sans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
 .real_town div{
   padding-top: 28px;
  font-size: 14px;
  font-family: "PT Sans";
  color: rgb(255, 255, 255);
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}
section {
  width: 1200px;
  height: 330px;
  display: inline-block;
  text-align: center;
  }
  section div{
    display: block;
    width: 33%;

  }
  .container_logo{
    margin-top: 60px;
    width: 1200px;
    height: 330px;
    display: flex;
    align-items: center;

    }
  .container_logo div{
  flex:1;
    }
  .container_logo img{
    clear: both;
    margin-bottom: 33px;
  margin-left: 50px;
  }
  .container_logo b{
    text-transform:uppercase;
    text-align: center;
    font-size: 21px;
    font-family: "PT Sans";
    font-weight:bold;
    margin-top: 33px;
  }
  .container_logo p{
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    font-family: "PT Sans";
    margin-top: 33px;
    margin-bottom: 0;
  }
  .bridge{
  width: 400px;
  height: 256px;
  background: rgb(129, 179, 210);
    font-size: 21px;
    font-family: "PT Sans";
    font-weight: bold;
    text-transform: uppercase;
    float: right;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
      }

  }
  .bridge h2{
    padding-top: : 50px;
    font-size: 21px;
    font-family: "PT Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
   .bridge div{
     padding-top: 28px;
    font-size: 14px;
    font-family: "PT Sans";
    color: rgb(255, 255, 255);
    font-weight: normal;
    text-align: center;
  }
  .threenumber{
    width: 1200px;
    height: 256px;
    display: flex;
    background: rgb(238, 238, 238);
    margin-top: -5px;
    align-items: center;


  }
  .threenumber div{
  flex:1;.

  }
  .threenumber b{
    text-transform:uppercase;
    text-align: center;
    font-size: 21px;
    font-family: "PT Sans";
    font-weight:bold;
    margin-top: 50px;
  }
  .threenumber p{
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    font-family: "PT Sans";
    margin-top: 33px;
  }
.single-promo3number{
  margin: 0 auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans";
  margin-top: 33px;
}
.single-promo4number{
  margin: 0 auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans";
  margin-top: 33px;
}
.single-promo5number{
  margin: 0 auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans";
  margin-top: 33px;
}
